{% extends 'base.html.twig' %}

{% block title %}Container index{% endblock %}

{% block body %}
    <h1>Container index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
                <td>{{ container.id }}</td>
                <td>{{ container.title }}</td>
                <td>{{ container.content ? container.content|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_container_show', {'id': container.id}) }}">show</a>
                    <a href="{{ path('app_container_edit', {'id': container.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_container_new') }}">Create new</a>
{% endblock %}
